{% extends 'layout.html' %}

{% block static %}
<title>Vote</title>
<link href="https://fonts.cdnfonts.com/css/sregs-serif-display?styles=137485" rel="stylesheet">                     
<link rel="stylesheet" href="{{ url_for('static', filename='vote.css') }}">
{% endblock%}
{% block content %}
<div class="center-middle record-font">
    <p>Vote Records</p>
</div>
<table class="table table-bordered report-table">
    <thead  class="border border-white">
        <tr>
            <th>VoteConfirmationNumber: #{{ voteConfirmationNumber }}</th>
            <th>Name</th>
            <th>position</th>
        </tr>
    </thead>
    <tbody> 
        {% for vote in votes %}
        <tr>
            <td  class="cell-width-1 border border-info">
                <div class="center-content">
                    <img src="{{ vote.candidate.photo_url }}" alt="candidateName" class="rounded">
                </div>
            </td>
            <td class="cell-width-2 center-middle border border-info"><span>{{ vote.candidate.first_name }} {{ vote.candidate.last_name }}</span></td>
            <td class="cell-width-3 center-middle border border-info"><span>{{ vote.candidate.portfolio.portfolioName }}</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="report-table">
    <a href="{{ url_for('statistic', token=request.args.get('token')) }}" class="btn btn-primary">View Vote Tally</a>
</div>
{% endblock %}

